@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.column1_left {
    float: left;
    width: 50%;
    border-radius: 5px;
}

/* Animation styles */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1.5s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.column1_right {
    float: right;
    width: 50%;
    text-align: center;
}

.column1_left h1 {
    text-align: left;
    padding-top: 70px;
    padding-left: 100px;
    font-family: Inter;
    font-weight: bold;
    font-size: 70px;
    color: #0f0f0f;
}

.column1_left p {
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-family: Poppins;
    font-size: 16px;
    color: #0f0f0f;
}

.column1_left a {
    padding-right: 40px;
}

.column1_right img {

    padding-top: 150px;
    padding-right: 100px;
    width: 90%;
    height: 70%;
}

.ico {
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.ico a:hover {
    color: #3F4044;
}


.ico a {
    font-size: 40px;
    margin-left: 5px;
    color: #fb8500;
}

.row1 {
    background-color: #fbfbfb;
}

.row1:after {
    content: "";
    display: table;
    clear: both;
}

.one_stop {
    background-color: #ffffff;
}

.one_stop h1 {
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
    font-family: Inter;
    color: #0f0f0f;
}

.column2_left {
    float: left;
    width: 50%;
    text-align: center;
}

.column2_right {
    float: right;
    width: 50%;
}

.column2_right h2 {
    text-align: left;
    padding-top: 100px;
    padding-left: 100px;
    font-family: Inter;
    font-weight: bold;
    font-size: 40px;
    color: #0f0f0f;
}

.column2_right p {
    padding: 30px 100px;
    text-align: left;
    font-family: Poppins;
    font-size: 16px;
    color: #0f0f0f;
}

.column2_right a {
    padding-left: 100px;
}

.column2_left img {
    padding: 30px;
    padding-top: 20px;
    width: 70%;
    height: 70%;
}

.row2 {
    background-color: #ffffff;
    padding-bottom: 0;
}

.row2 h1 {
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
    font-family: Inter;
    font-weight: bold;
    color: #0f0f0f;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
}

.orange-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 100px;
}

.orange-button:hover {
    background-color: darkorange;
}

.column3_left {
    float: left;
    width: 50%;
}

.column3_left input:hover {
    background-color: #01796f;
    cursor: pointer;
}

.column3_right {
    float: right;
    width: 50%;
    text-align: center;
}

.column3_left h2 {
    text-align: left;
    padding-top: 100px;
    padding-left: 100px;
    font-family: Inter;
    font-size: 40px;
    color: #3F4044;
}

.column3_left p {
    padding: 30px 100px;
    text-align: left;
    font-family: Poppins;
    font-size: 16px;
    color: black;
}

.column3_left a {
    padding-left: 100px;
}

.column3_right img {
    padding: 50px;
    padding-top: 20px;
    width: 70%;
    height: 70%;
}

.row3 {
    background-color: #ffffff;
    padding-bottom: 0px;
}

.row3:after {
    content: "";
    display: table;
    clear: both;
}